/.cache/
/.lsp-session-v1
/.org-id-locations
/auto-save-list/
/backups/
/bookmarks
/history
/org-roam.db
/places
/projectile-bookmarks.eld
/recentf
/transient/
/straight/build-cache.el
/straight/build/
/straight/repos/
/elpy/
/#recentf#
/.#recentf
/session.10daef7065000164210691500000004640016
